extends layout

block content
    img(src=product.image, width='30%')

    form(method = 'POST', action='/product/'+product.asin)
        .form-group.row
            label.col-sm-2.col-form-label(for='asin') ASIN
            .col-sm-10
                input#staticEmail.form-control-plaintext(name='asin',type='text', readonly='', value= product.asin)
        .form-group.row
            label.col-sm-2.col-form-label(for='seller') Seller
            .col-sm-10
                input#staticEmail.form-control-plaintext(name='seller',type='text', readonly='', value= product.seller)
        .form-group.row
                label.col-sm-2.col-form-label(for='status') Status
                .col-sm-10
                    input#inputPassword.form-control(name='status',type='text', value= product.status)
        .form-group.row
                label.col-sm-2.col-form-label(for='price') Price
                .col-sm-10
                    input#inputPassword.form-control(name='price',type='text', value= product.price)
                    

        button.btn.btn-primary(type='submit') Submit
